<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta description="{% block description %}Default desc{% endblock %}">
    <meta name="robots" content="{% block index %}index, follow{% endblock %}">
    <meta name="author" content="SMTank.com">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<script src="{{ asset('bundles/ordertrackingfrontend/js/jquery1.11.2/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/ordertrackingfrontend/css/bootstrap3.3.4/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
{% block afterjavascript %}{% endblock %}
</body>
</html>