{% extends "::base_frontend.html.twig" %}
{% block title %}Localiza tu pedido - SMTank.com.{% endblock %}
{% block description %}Accede al localizador en tiempo real de pedidos de SMTank.com.{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block containerStyles %}padding: 60px 15px 0; text-align: center;{% endblock %}
{% block body %}
    <h1 style="text-align: center;">No hemos encontrado ningún pedido con ese número de seguimiento :-(</h1>
    <br>
    <a href="{{ url('order_tracking_frontend_homepage') }}"><button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver a la página de inicio</button></a>
{% endblock %}
{% block javascripts %}{% endblock %}
{% block afterjavascript %}{% endblock %}