{% extends "::base.html.twig" %}
{% block title %}My homepage title{% endblock %}
{% block description %}My meta desc for SEO!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <h1 style="text-align: center;">Página de inicio</h1>
    <div>

    </div>
{% endblock %}
{% block javascripts %}{% endblock %}