{% extends "::base.html.twig" %}
{% block title %}My homepage title{% endblock %}
{% block description %}My meta desc for SEO!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <h1 style="text-align: center;">Página de inicio</h1>
    <div style="text-align: center">
        <input type="text" id="codigoSeguimiento" placeholder="#Número de seguimiento" style="width: 300px;">
    <br>
    <br>
    <button class="btn btn-primary" id="localizarPedido">Ver estado</button>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
{% block afterjavascript %}<script type="text/javascript">
    $('#localizarPedido').click(function(){
        var codigoseguimiento = document.getElementById("codigoSeguimiento").value;
        var currenlocation = window.location.href;
        if (currenlocation.slice(-1) == '/')
            window.location.replace(window.location.href + "pedido/" + codigoseguimiento);
        else
            window.location.replace(window.location.href + "/pedido/" + codigoseguimiento);
    });
</script>{% endblock %}