{% extends '::base.html.twig' %}
{% block title %}Backend - SMTank.com{% endblock %}
{% block body -%}
    <h1>Pedidos creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('backend') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
