{% extends '::base_backend.html.twig' %}
{% block title %}Backend - SMTank.com{% endblock %}
{% block body -%}
    <h1>Nuevo pedido</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('backend') }}">
            Volver a inicio
        </a>
    </li>
</ul>
{% endblock %}
